<div class="jumbotron">
    <h1 class="display-4">Template Driven Form</h1>
</div>
<div class="container">
    <form action="">
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control"></div>
        <div class="form-group">
            <label for="">Contact</label>
            <input type="text" class="form-control"></div>
    </form>
</div>   